@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    html {
        /* font-size: 62.5%; */
        font-size: 8px;
    }
}

@media screen and (max-width: 1079px) {

    /* For mobile and tablet sizes */
    /* html {
        font-size: 120%;
    } */
}

html {
    scroll-behavior: smooth;
}

#photo-src {
    color: #b3b3b3;
    text-decoration: underline;
    font-size: .55rem;
    text-align: right;
    margin-right: 0.5rem;
}

div#cover-img {
    text-align: right;
    margin: 0;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    div#cover-img {
        /* text-align: center; */
        margin: 1rem auto;
        width: 85%;
    }

    #photo-src {
        font-size: 1.2rem;
        text-align: right;
        margin-right: 1rem;
        color: #b3b3b3;
    }
}

body {
    background-color: #e4b7b7;
    margin: 0;
}

p {
    font-size: 1.1rem;
}

p,
li {
    padding: 1.5rem 2.5rem;
    text-align: justify;
    font-family: 'EB Garamond', serif;
}

p,
.bullet-list {
    line-height: 1.65;
    color: #444;
}


/* #intro-question {
    margin: 5rem 0;
    font-weight: bold;
} */


.bullet-list {
    width: 50rem;
    margin: 3rem auto;
    padding: 1.85rem;
    font-size: 1.35rem;
    border: 5px #BBB dotted;
}

.super-text2 .bullet-list,
.bullet-list.pca-findings {
    font-size: 1.85rem;
    line-height: 1.85;
}

.bullet-list h4 {
    font-size: 2.5rem;
    color: rgb(48, 48, 48);
    margin: 1rem auto;
}

.bullet-list .bold {
    color: rgb(88, 88, 88);
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    .bullet-list {
        width: 50rem;
        margin: 0 auto 2rem;
        padding: 1rem;
        font-size: 2rem;
        border: 2px #DDD dotted;
    }
}

h1 {
    margin: 0;
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    padding-top: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    p {
        line-height: 1.85;
        color: #444;
        font-size: 2.5rem;
        padding: 1.5rem 2.5rem;
        width: 700px;
        margin: 2rem auto 3rem;
    }

    h1 {
        font-size: 5.25rem;
    }

    h2 {
        font-size: 3.75rem;
    }
}

/* MAIN CONTAINER */
#main-container {
    max-width: 1080px;
    margin: 0 auto;
    /* background-color: white; */
    padding: 2rem .85rem 0;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    #main-container {
        background-color: rgba(255, 255, 255, 0);
        margin-top: 2rem;
    }
}

#cover-img {
    width: 100%;
    margin: 2.5rem auto 0;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    #cover-img {
        width: 50%;
    }
}

#cover-img img {
    width: 100%;
}

.section {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    .section {
        box-shadow: 0 1rem 1.5rem 0 #333333;
        margin-bottom: 5rem;
    }
}

/* For IE (thanks to @SaiManoj) */
/* select::-ms-expand {
    display: none;
} */

#dropdown-container {
    width: 95%;
    margin: 1rem auto 3rem;
}

#dropdown {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    border: #333333 2px solid;
    font-weight: bold;
    padding: 1.85rem 0;
    border-radius: 1rem;
    color: rgb(184, 106, 119);
    border-color: rgb(180, 89, 104);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

#dropdown option {
    font-size: 1rem;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
}

.vis {
    text-align: center;
    margin: 4rem 0;
}

#heatmap-vis.vis {
    margin-bottom: 2rem;
}

.by-line,
#bottom-link {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 3rem;
}

#bottom-link.my-link a {
    color: rgba(255, 255, 255, 0.795);
}

a {
    text-decoration: none;
    color: steelblue;
}


#table-container {
    font-size: 2rem;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    width: 100%;
    margin: 1rem auto;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */

    #table-container {
        /* border-top: black solid 1px;
        border-bottom: black solid 1px; */
        border: none;
    }

    #table-container table {
        margin: 1rem auto;
        border: black solid 1px;
    }

    #table-container tr td:first-of-type {
        font-size: 1.8rem;
        text-align: right;
        width: 25%;
        font-weight: normal;
        padding: 1rem;
    }
}


#table-container tr {
    height: 6rem;
}

#table-container tr td:first-of-type {
    font-size: 1.8rem;
    text-align: right;
    width: 25%;
    font-weight: normal;
}

#table-container td {
    border-top: black 1px solid;
    text-align: center;
}

#table-container tr.highlight {
    background-color: rgb(255, 253, 226);
    font-weight: bold;
}

tbody tr:not([highlight]) {
    background-color: rgb(236, 236, 236);
}

.hidden {
    display: none;
}

.tippy-tooltip {
    font-size: 2rem;
    border-radius: 1rem;
    /* border: 2px grey solid; */
    /* background-color: #181818f8; */
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    padding: 1.35rem;
}

.component-title {
    text-align: center;
}

.charge-signs {
    font-weight: bold;
}

#return-link {
    background-color: rgb(245, 225, 228);
    margin: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    text-align: center;
    box-shadow: 5px 6px 17px -1px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 5px 6px 17px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 5px 6px 17px -1px rgba(0, 0, 0, 0.54);
    color: rgb(77, 60, 60);
    text-decoration: none;
    position: relative;
}

#return-link #arrow1 {
    position: absolute;
    left: 4rem;
    opacity: .25;
}

#return-link #arrow2 {
    position: absolute;
    right: 4rem;
    opacity: .25;
}

.ital {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.toggle-btn {
    width: 100%;
    font-size: 2rem;
    color: rgb(139, 86, 86);
    background-color: rgba(221, 221, 221, 0.671);
    padding: 1rem;
    border-radius: 2rem;
    font-weight: bold;
    position: relative;
    border: none;
}

.collapsable {
    border: none;
    background-color: rgb(245, 245, 245);
    margin: 5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
    border-radius: 2rem;
}

.show-hide {
    font-size: 1.5rem;
    opacity: 0.65;
    position: absolute;
    left: 1.35rem;
    top: 1.35rem;
}

#interpreting-heatmap.collapsable {
    margin-top: 0;
    margin-bottom: 9rem;
}

a.bottom-notebook-link {
    /* background-color: lavender; */
    display: block;
    text-align: right;
    margin-right: 2.65rem;
    font-size: .75rem;
}

#quote {
    color: rgb(179, 102, 115);
    font-family: 'Maven Pro', sans-serif;

}