@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    html {
        /* font-size: 62.5%; */
        font-size: 8px;
    }
}

@media screen and (max-width: 1079px) {

    /* For mobile and tablet sizes */
    /* html {
        font-size: 120%;
    } */
}

#photo-src {
    color: #b3b3b3;
    text-decoration: underline;
    font-size: .55rem;
    text-align: right;
    margin-right: 0.5rem;
}

div#cover-img {
    text-align: right;
    margin: 0;
}

body {
    background-color: #e4b7b7;
    margin: 0;
}

p,
.bullet-list {
    line-height: 1.65;
    color: #444;
}

.bullet-list {
    font-size: 1.8rem;
}

p {
    padding: 1.5rem 2.5rem;
    text-align: justify;
    font-size: 1.65rem;
}


.bullet-list {
    width: 50rem;
    margin: 0 auto 2rem;
    padding: 1rem;
    font-size: 1.65rem;
    border: 2px #DDD dotted;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    .bullet-list {
        width: 50rem;
        margin: 0 auto 2rem;
        padding: 1rem;
        font-size: 2rem;
        border: 2px #DDD dotted;
    }
}

h1 {
    margin: 0;
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

h1,
h2 {
    padding-top: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    p {
        line-height: 1.85;
        color: #444;
        font-size: 2.5rem;
        padding: 1.5rem 2.5rem;
        width: 700px;
        margin: 2rem auto 3rem;
    }

    h1 {
        font-size: 5.25rem;
    }

    h2 {
        font-size: 3.75rem;
    }
}

/* MAIN CONTAINER */
#main-container {
    max-width: 1080px;
    margin: 0 auto;
    box-shadow: 0 1rem 1.5rem 0 #333333;
    background-color: white;
    padding: 2rem;

}

#cover-img {
    width: 912px;
    margin: 2.5rem auto 0;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */
    #cover-img {
        width: 50%;
    }
}

#cover-img img {
    width: 100%;
}


.section {
    margin: 2.5rem 0;
    border: 2px solid black
}

#dropdown-container {
    width: 95%;
    margin: 1rem auto 3rem;
}

#dropdown {
    font-size: 2.35rem;
    text-align: center;
    width: 100%;
    border: #333333 2px solid;
    font-weight: bold;
    padding: .8rem 0;
}

#dropdown option {
    font-size: 1rem;
}

.vis {
    text-align: center;
}

.by-line {
    text-align: center;
}

a {
    text-decoration: none;
    color: steelblue;
}

#bottom-link {
    text-align: center;
    font-size: 2.1rem;
    padding-bottom: 3rem;
}

#table-container {
    font-size: 2rem;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    width: 100%;
    margin: 1rem auto;
}

@media screen and (min-width: 1080px) {

    /* For laptop and desktop sizes */

    #table-container {
        /* border-top: black solid 1px;
        border-bottom: black solid 1px; */
        border: none;
    }

    #table-container table {
        margin: 1rem auto;
        border: black solid 1px;
    }

    #table-container tr td:first-of-type {
        font-size: 1.8rem;
        text-align: right;
        width: 25%;
        font-weight: normal;
        padding: 1rem;
    }
}


#table-container tr {
    height: 6rem;
}

#table-container tr td:first-of-type {
    font-size: 1.8rem;
    text-align: right;
    width: 25%;
    font-weight: normal;
}

#table-container td {
    border-top: black 1px solid;
    text-align: center;
}

#table-container tr.highlight {
    background-color: rgb(255, 253, 226);
    font-weight: bold;
}

tbody tr:not([highlight]) {
    background-color: rgb(236, 236, 236);
}

.hidden {
    display: none;
}